{% extends "base.html" %}

{% block title %}Create Todo{% endblock %}

{% block content %}
<h1>Creation d'une Toudou</h1>
<form action="{{url_for('todo_blueprint.create')}}" method="POST">
    {{ form.csrf_token }}
    {{ form.nameTodo.label }}
    {{ form.nameTodo(placeholder="Tâche de la Todo") }}
  <br>
    {{ form.etat.label }}
    {{ form.etat  }}
    <br>
    {{ form.date.label }}
    {{ form.date(type="date") }}
  <br>
  <br>
{{ form.valider()}}
</form>
{% if requete == "POST" %}
    {% if error %}
    <!-- Rajouter la couleur rouge à cette balise p -->
        <p class="error"> {{ error }} </p>
    {%else%}
        <p> Votre toudou a bien été crée</p>
    {% endif %}
    {% if form.errors %}
    <h4>Erreur(s) de validation :</h4>
    <ul>
      {% for field, errors in form.errors.items() %}
        {% for error in errors %}
          <li>{{ error }}</li>
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
{% endif %}
{% endif %}
{% endblock %}