{% extends "base.html" %}

{% block title %}Update Todo{% endblock %}

{% block content %}
<h1>Modification d'une Toudou</h1>
<form action="{{url_for('todo_blueprint.update')}}" method="POST">
    {% if not errorList%}
        {{ form.csrf_token }}
        {{ form.select_field.label }}
        {{ form.select_field }}
        <br>
        <br>
        {{ form.nameTodo.label }}
        {{ form.nameTodo(placeholder="Tâche de la Todo") }}
        <br>
        <br>
        {{ form.etat.label }}
        {{ form.etat  }}
        <br>
        <br>
        {{ form.date.label }}
        {{ form.date(type="date") }}
      <br>
    {% else %}
         <p class="error">{{ errorList }}</p>
    {%endif %}
    {{ form.valider()}}
</form>
{% if requete == "POST" %}
    {% if errorUpdate %}
    <!-- Rajouter la couleur rouge à cette balise p -->
         <p class="error"> {{ errorUpdate }} : Toudou non modifié </p>
    {%else%}
        <p> Votre toudou a bien été modifié</p>
    {% endif %}
{% endif %}
{% endblock %}